.grid {
	height: 400px;
	width: 400px;
	background-color: blue;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	height: 100px;
	width: 100px;
	background-color: yellow;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
}
